<!-- <button (click)="openDialog()">開啟</button> -->
@if (showLoading) {
<div class="overlar"></div>
<mat-spinner></mat-spinner>
}

<!-- <mat-drawer-container class="example-container" autosize>
 <mat-drawer #drawer class="example-sidenav" mode="side">
  <mat-list role="list">
  <mat-list-item role="listitem">頁面1</mat-list-item>
  <mat-list-item role="listitem">頁面2</mat-list-item>
  <mat-list-item role="listitem">頁面3</mat-list-item>
  </mat-list>
 </mat-drawer>

 <div>
  <div>
    <br>
    <h3>網頁內容</h3>
    <button type="button" (click)="drawer.toggle()">
      顯示sidenav
    </button>
  </div>
 </div>

</mat-drawer-container> -->





<router-outlet></router-outlet>
