<!-- 搜尋欄 -->
<div>
  問卷名稱: <input [(ngModel)]="searchname">
  <div>統計日期: <input type="date"
    [attr.min]="toDayStr"
    (change)="fromDate = $any($event.target).value; toDate = null">
    <!-- attr可避免把非字串帶入造成出錯 -->
        到
        <input type="date"
        [(ngModel)]="toDate"
        [attr.min]="fromDate || toDayStr"
        (change)="toDate">
        <!-- 這邊的[(ngModel)]可以同步控制畫面的日期 -->
  <button (click)="search()">測試</button>
  </div>
</div>


<!-- 羅列表單 -->
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>表單ID</th>
      <th>問卷名稱</th>
      <th>狀態</th>
      <th>起始日期</th>
      <th>結束日期</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <!-- 用 *ngFor 逐筆列出資料 -->
    <tr *ngFor="let f of filteredForms">
      <td>{{ f.id }}</td>
      <td>{{ f.name }}</td>
      <td>{{ stateLabel(getState(f)) }}</td>
      <td>{{ f.startDate }}</td>
      <td>{{ f.endDate }}</td>
      <td>
        <!-- 進行中：顯示「填寫」按鈕（可點） -->
      <button *ngIf="getState(f) === 'open'" (click)="goFill(f.id)">
        填寫
      </button>

      <!-- 已結束：顯示「檢視結果」按鈕（可點；目前先 console，之後導頁） -->
      <button *ngIf="getState(f) === 'closed'" (click)="viewResult(f.id)">
        檢視結果
      </button>

      <!-- 未開始：顯示禁用按鈕，不能點 -->
      <button *ngIf="getState(f) === 'notStarted'" disabled>
        尚未開始
      </button>
      </td>
    </tr>

  <tr *ngIf="filteredForms.length === 0">
      <td colspan="6">目前沒有符合條件的資料。</td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
